---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import {
    contestData,
    educationData,
    certificateData,
    algorithmContestData,
    problemCreationData,
OnlineJudgeProfile,
} from "../data/about";
import "../styles/about.css";
import SpeedInsights from "@vercel/speed-insights/astro";
---

<BaseLayout
    title="Dongwook Kim"
    description="About Dongwook Kim - Junior Embedded Developer"
>
    <div class="stack gap-20">
        <main class="wrapper about">
            <Hero title="About Me">
                <span style="display: inline;"
                    >임베디드의 미래를 만들고 싶은 엔지니어 <a
                        href="https://github.com/dongwookkim3"
                        target="_blank"
                        rel="noopener"
                        class="no-underline">김동욱</a
                    >입니다.</span
                >
            </Hero>

            <section>
                <h2 class="section-title">Information</h2>
                <br />
                <div class="content">
                    <div class="education-item">
                <h3>Name : 김동욱 (KIM DONG WOOK)</h3>
                <br style="line-height: 0.5;" />
                <h3>Age : 만 17세 (2007년생)</h3>
                <br style="line-height: 0.5;" />
                <h3>Phone : 010-5872-7459</h3>
                <br style="line-height: 0.5;" />
                <h3>Email : dongwook7459@gmail.com</h3>
                <br style="line-height: 0.5;" />
                <h3>Affiliation : 부산소프트웨어마이스터고등학교</h3>
                <br style="line-height: 0.5;" />
                <h3>Github : <a href="https://github.com/dongwookkim3">dongwookkim3</a></h3>
                
                </div>
            </div>
                
            </section>

            <section>
                <h2 class="section-title">Education</h2>
                <br />
                <div class="content">
                    {
                        educationData.map((edu) => (
                            <div class="education-item">
                                <h3>{edu.school}</h3>
                                <p>{edu.period}</p>
                                {edu.department && <p>{edu.department}</p>}
                                {edu.certificate_pdf_ko && (
                                    <a
                                        href={edu.certificate_pdf_ko}
                                        target="_blank"
                                        rel="noopener"
                                    >
                                        View Certificate_pdf_ko
                                    </a>
                                    <br>
                                )}
                                {edu.certificate_pdf_en && (
                                    <a
                                        href={edu.certificate_pdf_en}
                                        target="_blank"
                                        rel="noopener"
                                    >
                                        View Certificate_pdf_en
                                    </a>
                                    <br>
                                )}
                                {edu.certificate_web && (
                                    <a
                                        href={edu.certificate_web}
                                        target="_blank"
                                        rel="noopener"
                                    >
                                        View Certificate_web
                                    </a>
                                    <br>
                                )}
                            </div>
                        ))
                    }
                </div>
            </section>

            <section>
                <h2 class="section-title">Certificate</h2>
                <br />
                <div class="content">
                    <div class="algorithm-item">
                        <h3>국가기술자격</h3>
                        <ul>
                            {
                                certificateData.national.map((cert) => (
                                    <li>
                                        {cert.title} ({cert.date})
                                        <br />
                                        <a
                                            href={cert.link}
                                            target="_blank"
                                            rel="noopener"
                                        >
                                            View Certificate
                                        </a>
                                    </li>
                                ))
                            }
                        </ul>
                    </div>
                    <div class="algorithm-item">
                        <h3>민간자격</h3>
                        <ul>
                            {
                                certificateData.private.map((cert) => (
                                    <li>
                                        {cert.title} ({cert.date})
                                        <br />
                                        <a
                                            href={cert.link}
                                            target="_blank"
                                            rel="noopener"
                                        >
                                            View Certificate
                                        </a>
                                    </li>
                                ))
                            }
                        </ul>
                    </div>
                </div>
            </section>

<section>
                <h2 class="section-title">Skill</h2>
                <br />
                
            </section>

            <section>
                <h2 class="section-title">Algorithm</h2>
                <br />
                <div class="content">
                    <div class="algorithm-item">
                        <h3>온라인 저지 프로필</h3>
                        <ul>
                            {
                                OnlineJudgeProfile.map((Profile) => (
                                    <li style={{ margin: "0.7rem 0" }}>
                                        
                                        <a 
                                        href={`${Profile.Profile}`}
                                        target="_blank"
                                                            rel="noopener"
                                        >
{Profile.title}
                                        </a>
                                    </li>
                                ))
                            }
                        </ul>
                    </div>
                    <div class="algorithm-item">
                        <h3>대회 검수진</h3>
                        <ul class="contest-list">
                            {
                                contestData.map((contest) => (
                                    <li style={{ margin: "0.7rem 0" }}>
                                        <button
                                            class="toggle-btn"
                                            data-id={contest.id}
                                        >
                                            <span class="arrow">▶</span>{" "}
                                            {contest.title} ({contest.date})
                                        </button>
                                        <ul
                                            class="problem-list"
                                            id={contest.id}
                                        >
                                            <a
                                                href={contest.link}
                                                target="_blank"
                                                rel="noopener"
                                            >
                                                대회 링크
                                            </a>

                                            {contest.problems.map(
                                                (problem, index) => (
                                                    <li>
                                                        {contest.Nums?.[
                                                            index
                                                        ] ?? index + 1}{" "}
                                                        :
                                                        <a
                                                            href={`https://www.acmicpc.net/problem/${contest.problemsNum?.[index]}`}
                                                            target="_blank"
                                                            rel="noopener"
                                                        >
                                                            {problem}
                                                        </a>
                                                    </li>
                                                ),
                                            )}
                                        </ul>
                                    </li>
                                ))
                            }
                        </ul>
                    </div>
                    <div class="algorithm-item">
                        <h3>대회 참여</h3>
                        <ul>
                            {
                                algorithmContestData.map((contest) => (
                                    <li style={{ margin: "0.7rem 0" }}>
                                        {contest.title} ({contest.date})
                                    </li>
                                ))
                            }
                        </ul>
                    </div>
                    <div class="algorithm-item">
                        <h3>문제 출제</h3>
                        <ul>
                            {
                                problemCreationData.map((problem) => (
                                    <li>
                                        {problem.title}
                                        <br />
                                        <a
                                            href={`https://codeup.kr/problem.php?id=${problem.problemNum}`}
                                            target="_blank"
                                            rel="noopener"
                                        >
                                            {problem.platform}
                                        </a>
                                        &nbsp;&nbsp;
                                        <a
                                            href={problem.NotionLink}
                                            target="_blank"
                                            rel="noopener"
                                        >
                                            Notion
                                        </a>
                                        &nbsp;&nbsp;
                                        <a
                                            href={problem.GithubLink}
                                            target="_blank"
                                            rel="noopener"
                                        >
                                            Github
                                        </a>
                                    </li>
                                ))
                            }
                        </ul>
                    </div>
                </div>
            </section>
        </main>

        <ContactCTA />
    </div>
</BaseLayout>

<script>
    function toggleProblems(id: string) {
        const problemList = document.getElementById(id);
        if (!problemList) return;

        const button = problemList.previousElementSibling as HTMLButtonElement;
        const arrow = button.querySelector(".arrow");

        problemList.classList.toggle("active");
        arrow?.classList.toggle("active");

        // 각 li 요소에 인덱스 설정
        problemList.querySelectorAll("li").forEach((li, index) => {
            li.style.setProperty("--item-index", index.toString());
        });
    }

    // 이벤트 위임을 사용하여 토글 버튼 클릭 처리
    document.addEventListener("click", (e) => {
        const target = e.target as HTMLElement;
        const toggleBtn = target.closest(".toggle-btn");

        if (toggleBtn) {
            const id = toggleBtn.getAttribute("data-id");
            if (id) toggleProblems(id);
        }
    });
</script>

<style>
    .problem-list {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        padding-left: 2rem;
        margin-top: 0.5rem;
        transition:
            max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1),
            opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .problem-list.active {
        max-height: 1000px;
        opacity: 1;
    }

    .problem-list li {
        margin: 0.5rem 0;
        color: var(--gray-300);
        transform: translateY(-10px);
        opacity: 0;
        transition:
            transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
            opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .problem-list.active li {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(0.05s * var(--item-index, 0));
    }

    /* JavaScript로 동적으로 --item-index 설정 */

    .arrow {
        display: inline-block;
        transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .arrow.active {
        transform: rotate(90deg);
    }

    .contest-link {
        margin-bottom: 1rem !important;
        font-weight: bold;
    }

    .contest-link a {
        color: var(--gray-300);
    }

    .contest-link a:hover {
        color: var(--accent-regular);
    }

    .no-underline {
        text-decoration: none;
    }

    .no-underline:hover {
        color: var(--accent-regular);
    }
</style>
